/*fonts*/
@font-face {
    font-family: "dragonhunter";
    src: url('./Media/Fonts/dragonhunter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "carving-regular";
    src: url('./Media/Fonts/carving-regular.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "carving-bold";
    src: url('./Media/Fonts/carving-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*page structure*/
body {
    margin: 0px;
    background-color: #eee;
    }
.page {
    padding-right: 11.5%;
    padding-left: 10%;
    background: #eee;
    padding-bottom: 0.2%;
    padding-top: 5%;
}
.page2 {
      padding-right: 10%;
      padding-left: 10%;
      background: #eee;
      padding-bottom: 0.2%;
}
/********************************** MENU******************************/

/*** Nav Bar ******/
/*fixed position*/
.headermenu {
    background-color: black;
    position: fixed;
    top: 0;
    width: 78.5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navlist {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}   
li {
    float: left;
} 
.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "carving-bold";
}
.link2 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "carving-bold";
    padding: 14px 16px;
} 
li a:hover {
    color: teal;
}
.searchbar {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    font-family: "carving-regular";
    border-style: none;
    margin-left: 25px;
}
/* bottom link menu */
.navlist2 {
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
/*Hamburger menu*/
.menu {
    display: none;
  }
#hamburgermenu {
    display: none;
}
/*Media Querries hamburger menu*/
@media only screen and (max-width: 1065px){
    .navbar {
        position: relative;
        display: inline-block;
    }
    .hamburgermenu {
        display: none; 
    }
    .menu {
        cursor: pointer;
        padding: 10px;
        display: block;
        color: white;
        font-family: "carving-bold";
        margin-left: 15px;
    }
    .menu:hover{
        color: teal;
    }
    .navlist {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none; 
        position: absolute;
        top: 40px; 
        left: 0;
        z-index: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .navlist2 {    
        margin: 0;  
        padding: 0; 
        width: 100%;  
        list-style-type: none;    
        background-color: black; 
        border-top-left-radius: 5px;    
        border-top-right-radius: 5px;    
        bottom: 0;    
    }
    .hamburgermenu:checked + .menu + .navlist {
        display: flex;
        flex-direction: column;
    }
    .navlist li {
        text-align: left; 
    }
    .navlist li a {
        text-decoration: none;
        padding: 10px;
        display: block;   
    }
    .searchbar {
    margin-bottom: 25px;
    }
    .hamburgermenu2:checked + .menu2 + .navlist2 {
        display: flex;
        flex-direction: column;
    }
    .link2{
    padding-top: 14px;
      padding-right: 16px;
      padding-bottom: 14px;
      padding-left: 25px;
    }
    .headermenu {
        padding-bottom: 6px;
    }
}
/****************************** Main *************************/
/* Site title and description */
.mainpage {
    background: #80808038;
    padding: 4%;
    border-radius: 5px;
}
.maintitle {
    font-family: "dragonhunter";
    color: teal;
    font-size: 3rem;
    margin-top: 10px;
    text-align: center;
}
/**** first part Text ****/
.firsttext {
    font-family: "carving-bold";
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}
.firsttext::first-letter {
    font-size: 2rem;
    font-family: "carving-bold";
    font-weight: lighter;
    line-height: 0.8rem;
}
/***** Second part Characters ******/
.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

/*Characters images*/

.section {
    width: 31%;
    margin: 5px;
    padding: 5px;
}
.charpic1 {
    width: 100%;
    font-family: "carving-regular";
}
.charpic2 {
    width: 76.5%;
    font-family: "carving-regular";
}
.charpic3 {
    width: 88%;;
    font-family: "carving-regular";
}
.character2picture {
    margin: 0px;
}
.character1picture {
    margin: 0px;
}
.character3picture {
    margin: 0px;
}
  

/*Media Queries index page character sections*/
@media only screen and (min-width: 650px) and (max-width: 895px) {
    .charpic2 {
    width: 60%;
    }
}
@media only screen and (max-width: 649px) {
    .charpic2 {
    width: 80%;
    }
}
@media only screen and (min-width: 942px) and (max-width: 1207px){
    .section {
        width: 47%;
    }
}
@media only screen and (min-width: 896px) and (max-width: 941px) {
    .section {
        width: 46%;
    }
}
@media only screen and (max-width: 895px) {
    .section {
        width: auto;
    }
    .character1picture {
        text-align: left;
    }
    .character2pic{
        text-align: center;
    }
    .character3picture {
        text-align:right;
    }
    .charpic1 {
        width: 60%;
    }
    .charpic2 {
        width: 50%;
    }
    .charpic3 {
        width: 58%;
    }
}
@media only screen and (max-width: 649px) {
    .charpic1 {
        width: 80%;
    }
    .charpic2 {
        width: 77%;
    }
    .charpic3 {
        width: 78%;
    } 
    .character1picture {
        text-align: left;
    }
    .character2picture {
        text-align: center;
    }
    .character3picture {
        text-align:right;
    }
}
/**** Text under pictures ****/
.chartext {
    font-family: "carving-regular";
    padding: 10px;
    border-radius: 5px;
    background: whitesmoke;
    margin-top: 0px;
}
/***************************** footer ************************/

.fansitefooter {
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    width: 78.5%;
  }
.footer {
    margin-right: 11.5%;
    margin-left: 10%;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
.pdc, .smicon {
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-family: "carving-regular";
    font-size: 14px;
 }
 .pdc:hover{
    color:#008080;
 }
.footerdiv { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding:10px;
}
.allrights{
  color: white;
  font-family: "carving-regular";
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 0px;
  padding-bottom: 15px;
  padding-top: 5px;
}
.legal, .socialmedia {
    text-align: center;
    width: 45%;
    align-content: center;
}
.legal {
    display: inline-flex;  
}
/*Media Querries footer*/
@media only screen and (max-width: 730px) {
    .legal, .socialmedia {
        width: 100%;
    }
    .legal {
        display: block;
        padding: 10px;
      }    
}
@media only screen and (max-width: 535px){
    .legal {
        display: grid;
        padding: 5px;
    }
    .pdc, .smicon {
        margin: 0px;
        padding: 5px;
    }
    .footerdiv {
        padding-bottom: 0px;
    }   
}

/***************************contactus**********************/
.contactusmain {
    padding: 20px;
    border-radius: 5px;
    background: #0080804f;
    margin-top: 20px;
}
.contactusform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contactinfo {
    width: 40%;
    padding: 20px;
    border-style:none;
}
.contactmessage {
    width: 40%;
    padding: 20px;
    border-style:none;
}
.titleservice2 {
    font-family: "carving-bold";
    font-size: 1.3rem;
    width: 100%;
}
.inputcontactus {
    height: 30px;
    width: 70%;
    border-radius: 5px;
    font-family: "Garet-book";
    border-style: none;
}
.labelcontactus, .selectcivility {
    font-family: "carving-regular";
}
.legend {
    font-family: "carving-bold";
}
.buttonsubmit {
    display: block;
    float: right;
    padding: 15px;
    font-family: "carving-bold";
    font-size: 0.9rem;
    margin-right: 28px;
    margin-top: 15px;
    background: black;
    color: white;
    border-radius: 5px;
    border-style: none;
}
.buttonsubmit:hover {
    color: #008080;
} 
.civility {
    border-style: none;
    background: white;
    border-radius: 5px;
    padding-left: 15px;
    width: 72%;
    height: 40px;
    font-family: "carving-regular";
}
.messagetext {
    border-style: none;
    padding: 15px;
    border-radius: 5px;
    font-family: "carving-regular";
    width: 90%;
    height: 300px;
}
/*media queries contact page*/
@media only screen and (max-width: 1000px){
    .contactinfo {
        width: 100%;
        }
    .contactmessage {
        width: 100%;
    }
}
@media only screen and (max-width: 525px){
    .maintitle {
        font-size: 2.2rem;
        margin-top: 35px;
      }
    .firsttext {
        width: auto;
        font-size: 1.1rem;
    }
    .inputcontactus {
        width: 80%;
        }
        .civility {
        width: 82%;
        }
}

