/* Fonts */
@font-face {
    font-family: "dragonhunter";
    src: url('./Media3/Fonts3/dragonhunter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "carving-regular";
    src: url('./Media3/Fonts3/carving-regular.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "carving-bold";
    src: url('./Media3/Fonts3/carving-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Page structure */
body {
    margin: 0px;
    background: red;
}
.page {
    padding-right: 11.5%;
    padding-left: 10%;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 0, 0, 0.653));
    padding-top: 5%;
}
.page2 {
    padding-right: 10%;
    padding-left: 10%;
    background: #eee;
}

/********************************** MENU ******************************/

/*** Nav Bar ******/
.headermenu {
    background-color: black;
    position: fixed;
    top: 0;
    width: 78.5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navlist {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}   
li {
    float: left;
} 
.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "carving-bold";
}
.link2 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "carving-bold";
    padding: 14px 16px;
} 
li a:hover {
    color: rgb(128, 0, 0);
}
.searchbar {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    font-family: "carving-regular";
    border-style: none;
    margin-left: 25px;
}

/* Bottom link menu */
.navlist2 {
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Hamburger menu */
.menu {
    display: none;
}
#hamburgermenu {
    display: none;
}
.menu2 {
    display: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    font-family: "carving-bold";
    background-color: black;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Media Queries for hamburger menu */
@media only screen and (max-width: 954px) {
    .navbar {
        position: relative;
        display: inline-block;
    }
    .hamburgermenu {
        display: none; 
    }
    .menu {
        cursor: pointer;
        padding: 10px;
        display: block;
        color: white;
        font-family: "carving-bold";
        margin-left: 15px;
    }
    .menu:hover {
        color: rgb(128, 0, 0);
    }
    .navlist {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none; 
        position: absolute;
        top: 40px; 
        left: 0;
        z-index: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .hamburgermenu:checked + .menu + .navlist {
        display: flex;
        flex-direction: column;
    }
    .navlist li {
        text-align: left; 
    }
    .navlist li a {
        text-decoration: none;
        padding: 10px;
        display: block;   
    }
    .searchbar {
        margin-bottom: 25px;
    }
    .headermenu {
        padding-bottom: 6px;
    }

    /* Footer menu */
    .menu2 {
        display: block;
    }
    .hamburgermenu2:checked + .menu2 + .navlist2 {
        display: flex;
        flex-direction: column;
    }
    .navlist2 {
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background-color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .link2 {
        padding-top: 14px;
        padding-right: 16px;
        padding-bottom: 14px;
        padding-left: 25px;
    }
}

/****************************** Main *************************/

/* Site title and description */
.mainpage {
    background: #80808038;
    padding: 4%;
    border-radius: 5px;
}
.maintitle {
    font-family: "dragonhunter";
    color: rgb(128, 0, 0);
    font-size: 3rem;
    margin-top: 10px;
    text-align: center;
}

/**** First part Text ****/
.firsttext {
    font-family: "carving-bold";
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}
.firsttext::first-letter {
    font-size: 2rem;
    font-family: "carving-bold";
    font-weight: lighter;
    line-height: 0.8rem;
}

/***** Second part Characters ******/
.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

/* Characters images and responsive design */
.section {
    width: 68%;
    margin-top: -60px;
    padding-top: 60px;
}
.charpic1, .charpic2, .charpic3, .charpic4, video {
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

/* Responsive Images */
@media only screen and (max-width: 895px) {
    .charpic1, .charpic2, .charpic3, .charpic4, video {
        width: 80%;
    }
}
@media only screen and (max-width: 649px) {
    .charpic1, .charpic2, .charpic3, .charpic4, video {
        width: 100%;
    }
}

/* Text under pictures */
.chartext {
    font-family: "carving-regular";
    padding: 10px;
    border-radius: 5px;
    background: whitesmoke;
    margin-top: 0px;
}

/***************************** Footer ************************/
.fansitefooter {
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    width: 78.5%;
}
.footer {
    margin-right: 11.5%;
    margin-left: 10%;
    height: 100px;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
