/*fonts*/
@font-face {
    font-family: "dragonhunter";
    src: url('./Media/Fonts/dragonhunter.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "carving-regular";
    src: url('./Media/Fonts/carving-regular.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "carving-bold";
    src: url('./Media/Fonts/carving-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*page structure*/
body {
    margin: 0px;
    background: red;
    }
.page {
    padding-right: 11.5%;
    padding-left: 10%;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 0, 0, 0.653));
    padding-top: 5%;
}
.page2 {
      padding-right: 10%;
      padding-left: 10%;
      background: #eee;
}
/********************************** MENU******************************/

/*** Nav Bar ******/
/*fixed position*/
.headermenu {
    background-color: black;
    position: fixed;
    top: 0;
    width: 78.5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navlist {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}   
li {
    float: left;
} 
.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "carving-bold";
}
.link2 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "carving-bold";
    padding: 14px 16px;
} 
li a:hover {
    color: rgb(128, 0, 0);
}
.searchbar {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    font-family: "carving-regular";
    border-style: none;
    margin-left: 25px;
}
/* bottom link menu */
.navlist2 {
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
/*Hamburger menu*/
.menu {
    display: none;
  }
#hamburgermenu {
    display: none;
}
/*Media Querries hamburger menu*/
@media only screen and (max-width: 954px){
    .navbar {
        position: relative;
        display: inline-block;
    }
    .hamburgermenu {
        display: none; 
    }
    .menu {
        cursor: pointer;
        padding: 10px;
        display: block;
        color: white;
        font-family: "carving-bold";
        margin-left: 15px;
    }
    .menu:hover{
        color: rgb(128, 0, 0);
    }
    .navlist {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none; 
        position: absolute;
        top: 40px; 
        left: 0;
        z-index: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .navlist2 {    
        margin: 0;  
        padding: 0; 
        width: 100%;  
        list-style-type: none;    
        background-color: black; 
        border-top-left-radius: 5px;    
        border-top-right-radius: 5px;    
        bottom: 0;    
    }
    .hamburgermenu:checked + .menu + .navlist {
        display: flex;
        flex-direction: column;
    }
    .navlist li {
        text-align: left; 
    }
    .navlist li a {
        text-decoration: none;
        padding: 10px;
        display: block;   
    }
    .searchbar {
    margin-bottom: 25px;
    }
    .hamburgermenu2:checked + .menu2 + .navlist2 {
        display: flex;
        flex-direction: column;
    }
    .link2{
    padding-top: 14px;
      padding-right: 16px;
      padding-bottom: 14px;
      padding-left: 25px;
    }
    .headermenu {
        padding-bottom: 6px;
    }
}
/****************************** Main *************************/
/* Site title and description */
.mainpage {
    background: #80808038;
    padding: 4%;
    border-radius: 5px;
}
.maintitle {
    font-family: "dragonhunter";
    color: rgb(128, 0, 0);
    font-size: 3rem;
    margin-top: 10px;
    text-align: center;
}
/**** first part Text ****/
.firsttext {
    font-family: "carving-bold";
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}
.firsttext::first-letter {
    font-size: 2rem;
    font-family: "carving-bold";
    font-weight: lighter;
    line-height: 0.8rem;
}
/***** Second part Characters ******/
.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    
}

/*Characters images*/

.section {
    width: 48%;
    margin: 5px;
    padding: 5px;
}
.charpic1 {
    width: 100%;
    font-family: "carving-regular";
}
.charpic2 {
    width: 76.5%;
    font-family: "carving-regular";
}
.charpic3 {
    width: 88%;;
    font-family: "carving-regular";
}
.charpic4 {
    width: 50%;;
    font-family: "carving-regular";
}

/*Media Queries index page character sections*/
@media only screen and (min-width: 650px) and (max-width: 895px) {
    .charpic2 {
    width: 60%;
    }
}
@media only screen and (max-width: 649px) {
    .charpic2 {
    width: 80%;
    }
}
@media only screen and (min-width: 942px) and (max-width: 1207px){
    .section {
        width: 47%;
    }
}
@media only screen and (min-width: 896px) and (max-width: 941px) {
    .section {
        width: 46%;
    }
}
@media only screen and (max-width: 895px) {
    .section {
        width: auto;
    }
    .character1picture {
        text-align: left;
    }
    .character2pic{
        text-align: center;
    }
    .character3picture {
        text-align:right;
    }
    .character4picture{
        text-align: center;
    }
    .charpic1 {
        width: 60%;
    }
    .charpic2 {
        width: 57%;
    }
    .charpic3 {
        width: 58%;
    }
    .charpic4 {
        width: 58%;
    }
}
@media only screen and (max-width: 649px) {
    .charpic1 {
        width: 80%;
    }
    .charpic2 {
        width: 77%;
    }
    .charpic3 {
        width: 78%;
    } 
    .charpic4 {
        width: 58%;
    }
    .character1picture {
        text-align: left;
    }
    .character2picture {
        text-align: center;
    }
    .character3picture {
        text-align:right;
    }
    .character4picture {
        text-align:center;
    }
}
/**** Text under pictures ****/
.chartext {
    font-family: "carving-regular";
    padding: 10px;
    border-radius: 5px;
    background: whitesmoke;
    margin-top: 0px;
}
/***************************** footer ************************/

.fansitefooter {
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    width: 78.5%;
  }
.footer {
    margin-right: 11.5%;
    margin-left: 10%;
    height: 100px;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

